<div class="certs-grid">
  {{ range $.Site.Data.certs }}
    <div class="cert-card">
      <div class="cert-image-wrapper">
        <img src="{{ .path }}" alt="{{ .title }}" title="{{ .title }}" />
      </div>
      <div class="cert-info">
        <h5 class="cert-title">{{ .title }}</h5>
        <div class="cert-expiry {{ if eq .expiry "Retired" }}retired{{ else if eq .expiry "None" }}no-expiry{{ else }}active{{ end }}">
          <span class="expiry-label">Expires:</span> 
          <span class="expiry-date">{{ .expiry }}</span>
        </div>
      </div>
    </div>
  {{ end }}
</div>
{{ .Inner }}